---
import '../styles/global.css';

interface Props {
  title: string;
  description?: string;
}

const { title, description = "A collection of prayers for the Holy Rosary" } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
