---
layout: default
---
<div class="mystery">
  {{ content }}
</div>
<div class="mystery-copyright"
  <p>Scripture texts in this work are taken from the 
  <em>New American Bible, revised edition</em> 
  © 2010, 1991, 1986, 1970 Confraternity of Christian Doctrine, 
  Washington, D.C. and are used by permission of the copyright owner. 
  All Rights Reserved. No part of the <em>New American Bible</em> 
  may be reproduced in any form without permission in writing from 
  the copyright owner.</p>
</div>
